name: 11 - Working with Inputs

on: 
  workflow_dispatch:
    inputs: 
      dry-run:
        type: boolean
        description: "Skip deployment and only print build output"
        default: false
      target:
        type: environment
        required: true 
        description: "Which environment the workflow will target"
      tag:
        type: choice
        options:
          - v1
          - v2
          - v3
        default: v3
        description: "Release from which to build and deploy"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build 
        run: echo "Building from tag ${{ github.event.inputs.tag }}"

  deploy:
    runs-on: ubuntu-latest
    if: ${{ !github.event.inputs['dry-run'] }}  # Condition to skip if dry-run is true
    environment: ${{ github.event.inputs.target }}
    needs: build  # Added dependency on build job
    steps:
      - name: Deploy
        run: echo "Deploying to ${{ github.event.inputs.target }}"
