name: 19 - 1 - Managing Concurrency

on:
  workflow_dispatch:

jobs:
  ping:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ping URL
        id: ping-URL
        uses: ./.github/actions/docker-ping-url
        with:
          url: https://www.invalid-ubudnddndfks.com
          max_trials: 20
          delays: 5
